.center_align{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridClass{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 4rem;
}
.img-adj{
  height: 100%;
  width: 100%;
}
input[type="number"]{
  max-width: 2rem;
  text-align: center;
  outline: none;
  /* cursor: pointer; */
}
#navBar{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
.loaderContainer{
  min-height: 80vh !important;
}
.checkoutBtn{
  position: sticky !important;
  bottom: 0 !important;
  min-height: 50px;
  width: 80%;
  margin: 0 auto !important;
}
/* RWD Code starts from here */
/* for tablet device */
@media(max-width:992px){
  .gridClass{
   grid-template-columns: repeat(2, 1fr);
  } 
  .gridClass>div{
    max-width: none !important;
  }
}
/* for mobile device */
@media(max-width:767px){
  .gridClass{
   grid-template-columns: repeat(1, 1fr);
  } 
  .cartCardWidgets{
    column-gap: 0px !important;
  }
}
/* RWD Code ends here */
